__pycache__/
*.pyc
.venv/
venv/
env/
.python-version

.env
.streamlit/secrets.toml
.DS_Store
.vscode/
.idea/

flight_delay_dbt/target/
flight_delay_dbt/logs/
flight_delay_dbt/dbt_packages/

# ---Logs---
logs/
*.log

data/*
!data/exports/
!data/exports/**
data/exports/*.parquet
data/exports/*.zip
data/*
data/*
!data/**
